.changelog li span {
    background-color: #0366d6;
    display: inline;
    flex: 0 0 65px;
    font-size: 10px;
    font-weight: 600;
    border-radius: 3px;
    margin-right: 8px;
    padding: 2px 5px;
    text-transform: uppercase;
    text-align: center;
}

.new span, .added span {
    background-color: #28a745 !important;
}

.fixed span, .improved span {
    background-color: #0366d6 !important;
}

.removed span, .issue span {
    background-color: #d73a49 !important;
}