@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;600;700&display=swap');

html {
    margin: 0;
    padding: 0;
    min-height: 100%;
    position: relative
}

body {
    margin: 0;
    padding: 0
}

button {
    border: none
}

body, p, h1, h2, h3, h4, h5 {
    font-family: "Assistant", "Segoe UI", "Helvetica Neue", "Helvetica", Arial, sans-serif
}

html {
    font-size: 10px
}

@media (max-width: 767px) {
    html {
        font-size: 8.5px
    }
}

@media (min-width: 768px) {
    html {
        font-size: 9px
    }
}

@media (min-width: 992px) {
    html {
        font-size: 9.5px
    }
}

@media (min-width: 1200px) {
    html {
        font-size: 10px
    }
}

.light {
    font-weight: 200
}

.semilight {
    font-weight: 300
}

.normal, .regular {
    font-weight: 400
}

.semibold {
    font-weight: 600
}

b, .bold {
    font-weight: 700
}

body {
    font-weight: 400;
    color: #444;
    text-rendering: optimizeLegibility
}

h1, h2, h3 {
    font-family: "Segoe UI", "Helvetica Neue", "Helvetica", Arial, sans-serif;
    font-weight: 400;
    color: #000;
}

h1, .faux-h1 {
    font-size: 3rem;
    font-weight: 100;
    text-transform: uppercase;
}

h2, .faux-h2 {
    font-size: 2.3rem;
}

h3, .faux-h3 {
    font-weight: 600;
    font-size: 1.8rem
}

h4, .faux-h4 {
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase
}

.wrap-together {
    display: inline-block
}

a {
    color: #0071BC;
    text-decoration: none;
    font-weight: 600;
}

a:hover, a:focus {
    color: #005893;
    text-decoration: underline
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi) {
    body {
        -webkit-font-smoothing: antialiased
    }
}

blockquote {
    font-size: 1.6rem
}

textarea {
    resize: none;
    overflow-y: scroll
}

.visible {
    visibility: 'visible'
}

button, .link-button {
    font-family: "Segoe UI", "Helvetica Neue", "Helvetica", Arial, sans-serif;
    font-weight: 600;
    font-size: 20px;
    padding: 15px 35px;
    display: inline-block;
    color: inherit;
    cursor: pointer
}

.link-button:hover {
    text-decoration: none;
    color: inherit
}

.dlink {
    cursor: pointer
}

.main-container {
    min-height: 100%;
    position: relative
}

.body-content {
    padding-top: 25px;
    padding-bottom: 40px
}

.row.display-flex {
    display: flex;
    flex-wrap: wrap
}

.row.display-flex>[class*='col-'] {
    display: flex;
    flex-direction: column;
    flex-grow: 1
}

.swimlane {
    padding: 6rem 0 6rem;
    min-height: 30rem;
    position: relative
}

.swimlane:nth-child(odd) {
    background-color: #f5f5f5
}

.swimlane:nth-child(even) {
    background-color: initial
}

.download-button, .navbar .navbar-right .link-button {
    background-color: #0066B8
}

.download-button:hover, .navbar .navbar-right .link-button:hover, .download-button:active, .navbar .navbar-right .link-button:active, .download-button:focus, .navbar .navbar-right .link-button:focus {
    background-color: #005ba4
}

.action-button {
    background-color: #373277
}

.action-button:hover, .action-button:active, .action-button:focus {
    background-color: rgba(55, 50, 119, 0.8)
}

iframe[name='google_conversion_frame'] {
    position: absolute
}

.navbar-fixed-container {
    background-color: #2C2C32;
    height: 50px
}

.navbar {
    font-size: 16px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0
}

#nav-download .download-icon {
    display: inline
}

#nav-download .download-icon-inverted {
    display: none
}

@media screen and (-ms-high-contrast: black-on-white) {
    #nav-download .download-icon {
        display: none
    }
    #nav-download .download-icon-inverted {
        display: inline
    }
}

.navbar .navbar-brand {
    position: relative;
    background-image: url("/images/Gaea_Logo_LightAlt.png");
    background-repeat: no-repeat;
    background-position: 0% 50%;
    background-size: 50%;
    padding-left: 36px;
    font-size: 20px;
    letter-spacing: -0.04rem;
    color: transparent !important;
    min-height: 50px;
    padding-top: 15px;
    line-height: 20px
}

@media (max-width: 320px) {
    .navbar .navbar-brand {
        font-size: 15px;
        background-size: 18px;
        padding-left: 30px
    }
}

.navbar-inverse {
    background: #2C2C32;
    border: none;
    margin-bottom: 0
}

.navbar-inverse.navbar-fixed-top::before {
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    -webkit-box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.33);
    -moz-box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.33);
    box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.33);
    transition: all 0.2s ease-out
}

.navbar-inverse.navbar-fixed-top.affix::before {
    opacity: 1
}

.navbar-inverse.home {
    width: 100%
}

@media (min-width: 768px) {
    .navbar-nav>li>a {
        padding-top: 17px;
        padding-bottom: 13px
    }
}

.navbar li>a {
    cursor: pointer;
    padding-left: 12px;
    padding-right: 12px
}

.navbar-right {
    height: 50px
}

.navbar-left li>a {
    opacity: 0.6;
    -webkit-transition: opacity 0.08s ease-in;
    -moz-transition: opacity 0.08s ease-in;
    -o-transition: opacity 0.08s ease-in;
    transition: opacity 0.08s ease-in
}

@media screen and (-ms-high-contrast: active) {
    .navbar-left li>a {
        opacity: 1
    }
}

.navbar-left li>a:hover {
    opacity: 1
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    opacity: 1;
    background: none
}

.navbar-inverse .navbar-nav>li>a {
    color: #fff;
    font-size: 13px;
    font-weight: semibold;
}

.navbar .navbar-right {
    display: block
}

.navbar .search-icon {
    display: inline
}

.navbar .search-btn .search-icon-inverted {
    display: none
}

@media screen and (-ms-high-contrast: black-on-white) {
    .navbar .search-icon {
        display: none
    }
    .navbar .search-icon-inverted {
        display: inline
    }
}

.navbar .navbar-right .link-button {
    color: #fff;
    font-size: 13px;
    font-weight: semibold;
    line-height: 100%;
    padding: 17px 20px;
    height: 50px
}

/* @media (min-width: 992px) {
    .navbar .navbar-right .link-button {
        padding-left: 40px
    }
    .navbar .navbar-right .link-button img {
        display: block;
        position: absolute;
        left: 15px
    }
} */

.navbar-collapse {
    border: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none
}

.navbar-inverse .navbar-toggle, .navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    border: none
}

.navbar-inverse .navbar-toggle:focus {
    background-color: transparent
}

.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
    background-color: rgba(94, 87, 184, 0.6)
}

#skip-to-content {
    background-color: rgba(0, 0, 0, 0.9) !important;
    color: #fff;
    font-size: 16px;
    padding: 8px 10px;
    margin-top: 4px;
    position: absolute;
    z-index: 10;
    opacity: 0;
    width: 180px;
    left: 0;
    right: 0;
    margin: auto;
    text-decoration: none;
    border-radius: 0 0 10px 10px;
    text-align: center;
    top: -38px
}

#skip-to-content:focus {
    opacity: 1;
    transition: opacity 0.2s;
    top: initial
}

.updates-banner {
    background-color: #25252B;
    color: #CCC;
    font-size: 1.6rem;
    position: relative
}

.updates-banner a {
    color: #0098FF
}

.updates-banner .container {
    padding: 0
}

.updates-banner .container p {
    text-align: center;
    margin: 1.1rem 0;
    padding-right: 4.2rem;
    padding-left: 4.2rem
}

.updates-banner .dismiss-btn {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 4.2rem;
    cursor: pointer
}

.updates-banner .dismiss-btn {
    opacity: 0.5;
    cursor: pointer
}

.updates-banner .dismiss-btn:hover {
    opacity: 1
}

.updates-banner .dismiss-btn .glyph-icon::after {
    content: '\00d7';
    font-size: 24px;
    font-weight: bold;
    display: block;
    margin-left: 10px
}

.updates-banner.home p {
    padding: 0 12%
}

.updates-banner.home .dismiss-btn {
    display: none
}

@media (max-width: 767px) {
    .navbar.home>.container {
        background-color: rgba(0, 0, 0, 0.3)
    }
    .navbar .navbar-brand {
        margin-left: 15px
    }
    .navbar-inverse .navbar-nav>li>a {
        opacity: 1
    }
}

.navbar-header .search, .navbar-header .search-btn, .navbar-right .search, .navbar-right .search-btn {
    display: none
}

.search .search-form {
    margin: 20px 0
}

.search .search-form .input-group {
    width: 100%
}

.search .search-form .input-group .form-control {
    border-radius: 4px;
    padding-right: 30px;
    width: 183px
}

.search .search-form .input-group button {
    padding: 6px 10px;
    background-color: transparent
}

.search .search-form .input-group button:hover {
    color: #0072be
}

.search .search-form .input-group button:active {
    -webkit-box-shadow: none !important;
    box-shadow: none !important
}

.search .search-form .input-group .search-icon {
    display: inline
}

.search .search-form .input-group .search-icon-inverted {
    display: none
}

@media screen and (-ms-high-contrast: black-on-white) {
    .search .search-form .input-group .search-icon {
        display: none
    }
    .search .search-form .input-group .search-icon-inverted {
        display: inline
    }
}

.search .search-form .input-group-btn {
    position: absolute;
    width: 36px;
    z-index: 5
}

.nav .search .search-form {
    margin: 0
}

.nav .search .search-form .form-control {
    background: rgba(255, 255, 255, 0.08);
    border: none;
    height: 50px;
    padding: 6px 15px 6px 40px;
    border-radius: 0;
    color: white;
    font-size: 12px;
    -webkit-transition: opacity 0.08s ease-in;
    -moz-transition: opacity 0.08s ease-in;
    -o-transition: opacity 0.08s ease-in;
    transition: opacity 0.08s ease-in
}

.nav .search .search-form .form-control:hover {
    outline: 1px solid rgba(255, 255, 255, 0.2);
    outline-offset: -1px;
    background: rgba(255, 255, 255, 0.18)
}

.nav .search .search-form .form-control:focus, .nav .search .search-form .form-control:active {
    outline: 1px solid rgba(255, 255, 255, 0.5);
    outline-offset: -1px;
    box-shadow: none
}

.nav .search .search-form .form-control:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px #5b5790 inset;
    padding-left: 15px;
    -webkit-text-fill-color: white !important;
    padding: 6px 15px 6px 40px
}

.nav .search .search-form .form-control::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.8);
    font-family: "Segoe UI", "Helvetica Neue", "Helvetica", Arial, sans-serif;
    font-weight: 300
}

.nav .search .search-form .form-control:-moz-placeholder {
    color: rgba(255, 255, 255, 0.8);
    font-family: "Segoe UI", "Helvetica Neue", "Helvetica", Arial, sans-serif;
    font-weight: 300
}

.nav .search .search-form .form-control:-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.8);
    font-family: "Segoe UI", "Helvetica Neue", "Helvetica", Arial, sans-serif;
    font-weight: 300
}

.nav .search .search-form .form-control::-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.8);
    font-family: "Segoe UI", "Helvetica Neue", "Helvetica", Arial, sans-serif;
    font-weight: 300
}

@media screen and (-ms-high-contrast: white-on-black) {
    .nav .search .search-form {
        height: 30px
    }
}

@media screen and (-ms-high-contrast: white-on-black) {
    .nav .search .search-form {
        border: 2px solid white
    }
}

@media screen and (-ms-high-contrast: black-on-white) {
    .nav .search .search-form {
        border: 2px solid black
    }
}

.nav .search .search-form:hover .form-control, .nav .search .search-form .form-control:focus {
    opacity: 1
}

.nav .search .search-form .input-group-btn {
    width: 28px;
    left: 8px
}

.nav .search .search-form .input-group button {
    padding: 13px 6px 17px 6px;
    border: 0
}

.navbar-header .search {
    position: relative;
    float: right;
    width: 150px
}

.navbar-header .search-btn {
    position: relative;
    float: right;
    margin-top: 8px;
    border: none
}

.navbar .search-btn {
    color: #fff;
    height: 32px;
    padding: 17px 10px;
    height: 50px;
    margin-right: 5px;
    opacity: 0.5;
    border: none;
    -webkit-transition: opacity 0.08s ease-in;
    -moz-transition: opacity 0.08s ease-in;
    -o-transition: opacity 0.08s ease-in;
    transition: opacity 0.08s ease-in
}

.navbar .search-btn img {
    display: block
}

.navbar .search-btn:focus {
    outline: none;
    background-color: transparent;
    opacity: 1
}

.navbar .search-btn:hover {
    opacity: 1
}

.navbar .search-btn:active {
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    -o-box-shadow: none !important;
    box-shadow: none !important
}

.body-content.search .search-form .input-group {
    max-width: 300px
}

.body-content.search .search-form .form-control {
    padding-right: 34px;
    width: 100%
}

.body-content.search .search-form button {
    padding: 6px 5px
}

.body-content.search .search-form .input-group-btn {
    right: 7px;
    width: 28px
}

.search .count {
    font-size: 18px
}

.search .search-results {
    padding: 0;
    margin: 20px 0;
    list-style: none
}

.search .search-results .result {
    margin-bottom: 30px
}

.search .search-results .result b {
    background-color: rgba(0, 114, 190, 0.15)
}

.search .search-results .result h3 {
    font-family: "Segoe UI", "Helvetica Neue", "Helvetica", Arial, sans-serif;
    font-weight: 600;
    font-size: 2.4rem;
    text-overflow: ellipsis;
    margin-top: 0
}

.search .search-results .snippet {
    margin-top: 10px
}

@media (min-width: 480px) {
    .navbar-left .search {
        display: none
    }
}

@media (min-width: 480px) and (max-width: 599px) {
    .navbar-header .search-btn {
        display: block
    }
}

@media (min-width: 600px) and (max-width: 767px) {
    .navbar-header .search {
        display: block
    }
}

@media (min-width: 768px) {
    .navbar-right .search-small {
        display: block
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .navbar-right .search-btn {
        display: block
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .navbar-right .search {
        display: none
    }
    .navbar-right .search-btn {
        display: block
    }
}

@media (min-width: 1200px) {
    .navbar-right .search {
        display: block
    }
    .navbar-right .search-small {
        display: none
    }
}

body {
    margin-bottom: 135px
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 135px;
    width: 100%
}

footer {
    background-color: #333;
    font-size: 12px;
    color: white;
    padding: 25px 0
}

footer #footer-community {
    color: white;
    cursor: pointer
}

footer .left {
    font-size: 14px
}

footer .message {
    display: none
}

footer .twitter-follow-button {
    vertical-align: bottom;
    margin-right: 15px;
    margin-bottom: 10px
}

footer .github-star-button {
    top: 5px;
    position: relative
}

footer .github-star-button, footer .twitter-follow-button {
    margin-bottom: 20px;
    display: inline-block
}

footer .right>* {
    display: inline-block;
    vertical-align: top
}

footer .links {
    padding: 0
}

footer .links li {
    display: inline-block
}

footer .links li:not(:last-child) {
    padding-right: 20px
}

footer .links a {
    color: white
}

footer .links a:hover {
    color: #b4a0ff;
    text-decoration: none
}

footer .copyright {
    margin-left: 30px
}

footer .copyright .logo {
    display: block;
    margin-bottom: 2px
}

@media (max-width: 480px) {
    footer {
        height: 170px
    }
    body {
        margin-bottom: 170px
    }
    footer .copyright {
        display: block;
        margin-left: 0
    }
}

@media (max-width: 380px) {
    footer {
        height: 200px
    }
    body {
        margin-bottom: 200px
    }
    footer .copyright {
        display: block;
        margin-left: 0
    }
}

@media (min-width: 1200px) {
    footer {
        height: 90px
    }
    body {
        margin-bottom: 90px
    }
}

@media (min-width: 400px) {
    footer .twitter-follow-button {
        height: 20px
    }
}

@media (min-width: 530px) {
    footer .message {
        display: inline-block
    }
    .twitter-follow-button {
        margin-left: 15px
    }
}

@media (min-width: 992px) {
    footer .github-star-button, footer .twitter-follow-button {
        margin-bottom: 0
    }
    footer .right {
        margin-top: 0;
        text-align: right
    }
}

.microsoft-logo-inverted {
    display: none
}

@media screen and (-ms-high-contrast: black-on-white) {
    .microsoft-logo {
        display: none
    }
    .microsoft-logo-inverted {
        display: inline
    }
}

.alt-downloads {
    text-align: center
}

.alt-downloads .download-icon {
    display: inline
}

.alt-downloads .download-icon-accessible {
    display: none
}

@media screen and (-ms-high-contrast: black-on-white) {
    .alt-downloads .download-icon-accessible {
        display: inline
    }
    .alt-downloads .download-icon {
        display: none
    }
}

.alt-downloads .download {
    padding: 0 25px;
    display: inline-block;
    vertical-align: top
}

.alt-downloads .home.download {
    display: none
}

.alt-downloads.win .download.osx {
    display: inline-block
}

.alt-downloads.win .download.linux {
    display: inline-block
}

.alt-downloads.linux .download.osx {
    display: inline-block
}

.alt-downloads.linux .download.win {
    display: inline-block
}

.alt-downloads.osx .download.win {
    display: inline-block
}

.alt-downloads.osx .download.linux {
    display: inline-block
}

.alt-downloads .logo {
    height: 100px;
    width: 100px;
    background-size: contain !important;
    margin: 0 auto;
    -ms-high-contrast-adjust: none
}

.alt-downloads .logo.windows {
    background: url("/assets/images/windows-logo.png") center center no-repeat
}

.alt-downloads .logo.mac {
    background: url("/assets/images/apple-logo.svg") center center no-repeat
}

@media screen and (-ms-high-contrast: white-on-black) {
    .alt-downloads .logo.mac {
        background-image: url("/assets/images/apple-logo-inverted.svg")
    }
}

.alt-downloads .logo.linux {
    background: url("/assets/images/linux-logo.png") center center no-repeat
}

.alt-downloads .link-button {
    color: white;
    margin: 20px 0 5px;
    padding: 10px 0;
    font-size: 1.8rem;
    width: 240px;
    background-color: #0066B8
}

.alt-downloads .link-button small {
    display: block;
    margin-top: 0.75rem;
    color: rgba(255, 255, 255, 0.65);
    font-size: 1.2rem
}

.alt-downloads .link-button small.build-type {
    margin-top: 0;
    font-size: 1.4rem;
    font-weight: 300
}

.alt-downloads .link-button:hover {
    background-color: #005ba4
}

.alt-downloads .link-button[data-os='linux64_deb'], .alt-downloads .link-button[data-os='linux64_rpm'] {
    width: 147px
}

.alt-downloads .link-button img {
    position: relative;
    top: -2px;
    margin-right: 10px
}

.alt-downloads .sublink {
    display: block;
    font-size: 12px
}

.alt-downloads .terms {
    color: #6c6c6c;
    padding: 4rem 19%
}

.alt-downloads .terms p {
    font-size: 1.4rem;
    line-height: 3rem
}

.alt-downloads .swimlane {
    min-height: auto;
    padding: 1.5rem
}

.alt-downloads.insiders-callout .swimlane {
    margin-bottom: 2rem
}

.alt-downloads.insiders-callout .swimlane h2 {
    font-weight: 600;
    margin-bottom: 0.5rem;
    color: #444;
    font-size: 2.1rem
}

.alt-downloads.insiders-callout .swimlane .call-to-action {
    font-size: 1.8rem;
    color: #444
}

@media (min-width: 1200px) {
    .alt-downloads .terms {
        padding: 20px 20%
    }
}

.home .alt-downloads .swimlane {
    padding-top: 0
}

#alt-downloads .win-downloads {
    width: 94%
}

#alt-downloads .linux-downloads {
    width: 55%
}

#alt-downloads .win-downloads, #alt-downloads .linux-downloads {
    margin-top: 16px;
    margin-left: auto;
    margin-right: auto
}

#alt-downloads table.win-downloads col:nth-of-type(1), .insiders-builds table.win-downloads col:nth-of-type(1) {
    width: 135px
}

#alt-downloads table.linux-downloads col:nth-of-type(1), .insiders-builds table.linux-downloads col:nth-of-type(1) {
    width: 75px
}

#alt-downloads table.win-downloads col:nth-of-type(2), #alt-downloads table.win-downloads col:nth-of-type(3), #alt-downloads table.linux-downloads col:nth-of-type(2), #alt-downloads table.linux-downloads col:nth-of-type(3), .insiders-builds table.win-downloads col:nth-of-type(2), .insiders-builds table.win-downloads col:nth-of-type(3), .insiders-builds table.linux-downloads col:nth-of-type(2), .insiders-builds table.linux-downloads col:nth-of-type(3) {
    width: 45px
}

.download-btns.insiders-builds .win-downloads, .download-btns.insiders-builds .linux-downloads {
    margin: 16px auto 20px auto
}

.download-btns button {
    font-weight: 700;
    font-size: 1.8rem;
    padding: 10px 0;
    margin: 20px 0 5px;
    display: inline-block;
    color: #fff;
    cursor: pointer;
    background-color: #0066B8;
    text-decoration: none;
    width: 280px
}

.download-btns button img {
    position: relative;
    top: -2px;
    margin-right: 10px
}

.download-btns .linux .left-btn {
    margin-left: 5px
}

.download-btns .linux button {
    width: 147px
}

.download-btns small {
    font-size: 1.2rem;
    color: rgba(255, 255, 255, 0.65);
    display: block
}

.download-btns .alts {
    margin-top: 16px
}

.download-btns .alts a {
    cursor: pointer
}

nav[data-toggle=toc]>div:first-child.connect-widget {
    margin-top: 0
}

.docs .body h2 {
    padding-top: 70px;
    margin-top: -50px
}

.docs .body h3 {
    padding-top: 70px;
    margin-top: -50px
}

.docs .body h4 {
    margin-top: 30px
}

.docs video {
    margin-top: 1.5rem;
    margin-bottom: 2.5rem;
    width: 100%;
    max-width: 100%
}

.docs iframe {
    width: 100%;
    max-width: 100%;
    height: 400px
}

.docs h1 {
    margin-top: 20px;
    margin-bottom: 15px;
}

.docs h2 {
    margin-top: 30px;
    margin-bottom: 10px
}

.docs .body h4 {
    margin-top: 30px
}

.docs img {
    max-width: 100%;
    display: block
}

.docs .keybinding {
    font-family: Menlo, Monaco, Consolas, 'Courier New', monospace;
    padding: 2px 4px;
    font-size: 90%;
    color: #0072be;
    background-color: #f4f2f9;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px
}

.docs .keybinding.osx {
    font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Arial, sans-serif
}

.docs #confirmation {
    padding: 10px 15px;
    display: none;
    text-align: center;
    background-color: #f1f8ee;
    border-color: #f1f8ee
}

.docs #confirmation h2 {
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 2.8rem
}

.docs #confirmation p {
    margin-top: 0;
    font-size: 0.8em
}

.docs .hash-link {
    margin: 1%
}

.docs-navbar-container {
    position: -webkit-sticky;
    position: sticky;
    -ms-overflow-style: none;
    top: 70px !important;
    height: calc(100vh - 70px)
}

@media (max-width: 992px) {
    .docs-navbar-container {
        position: -webkit-sticky;
        position: sticky;
        -ms-overflow-style: none;
        top: 20px !important;
        height: calc(100vh - 20px)
    }
}

#docs-navbar {
    overflow: -moz-scrollbars-none;
    overflow-y: auto;
    max-height: calc(100vh - 40px)
}

#docs-navbar>.nav {
    max-height: calc(100vh - 140px)
}

#docs-navbar::-webkit-scrollbar {
    width: 0 !important
}

nav[data-toggle=toc].affix {
    position: static;
    top: 0
}

nav[data-toggle=toc].affix-bottom {
    position: relative
}

#docs-navbar {
    padding: 15px 0;
    display: none
}

nav[data-toggle=toc] {
    padding-top: 15px;
    padding-bottom: 15px
}

.docs-nav h4, nav[data-toggle=toc] h4 {
    margin-top: 0
}

#docs-navbar h4 {
    padding-left: 15px
}

nav[data-toggle=toc] h4 {
    padding-left: 10px
}

#docs-navbar>.nav a {
    padding-left: 10px
}

#docs-navbar ul {
    list-style: none;
    padding: 0
}

#docs-navbar .nav li a {
    border-left: 1px solid #ccc;
    display: block
}

#docs-navbar .nav li a:hover {
    background: none;
    color: #444;
    text-decoration: none !important;
    border-color: #0071BC
}

#docs-navbar .nav li a:focus {
    background: none
}

#docs-navbar .nav>li>a {
    padding: 8px 15px;
    font-size: 14px
}

#docs-navbar .nav>li li>a {
    padding: 5px 25px;
    position: relative
}

#docs-navbar .nav .docs-home {
    padding-bottom: 16px
}

#docs-navbar .nav>li>.area {
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase
}

#docs-navbar .nav .panel {
    margin-bottom: inherit;
    background-color: inherit;
    border: inherit;
    -webkit-border-radius: inherit;
    -moz-border-radius: inherit;
    -o-border-radius: inherit;
    border-radius: inherit;
    -webkit-box-shadow: inherit;
    box-shadow: inherit
}

#docs-navbar .nav .panel>a {
    margin-right: 40px
}

#docs-navbar .nav .panel.expanded a {
    border-color: #0071BC
}

#docs-navbar .nav .collapsing {
    -webkit-transition-duration: .25s;
    -moz-transition-duration: .25s;
    -o-transition-duration: .25s;
    transition-duration: .25s
}

#docs-navbar .nav li a, nav[data-toggle=toc] .nav li a {
    color: #707070
}

#docs-navbar .nav li a:focus, nav[data-toggle=toc] .nav li a:focus {
    background-color: transparent
}

nav[data-toggle=toc] .nav li a {
    border-left: 1px solid transparent;
    padding: 5px 10px
}

nav[data-toggle=toc] .nav li:hover {
    border-left: 1px solid #0071BC;
}

nav[data-toggle=toc] .nav li a:hover {
    background: none;
    color: #444
}

nav[data-toggle=toc] .nav li a:hover:before {
    font-weight: bold;
    display: block
}

#docs-navbar>.nav>.active>a, #docs-navbar>.nav>.active .active>a {
    color: #0071BC !important
}

#docs-navbar>.nav>.active>a:not(.area), #docs-navbar>.nav>.active .active>a {
    font-weight: bold
}

#docs-navbar>.nav .active .active a:before {
    content: '';
    position: absolute;
    height: 7px;
    width: 7px;
    background-color: #0071BC;
    top: 10px;
    left: -4px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -o-border-radius: 100%;
    border-radius: 100%
}

#small-nav {
    padding: 5px 0
}

#small-nav>* {
    display: inline-block
}

#small-nav>select {
    margin-left: 12px
}

#small-nav #small-nav-dropdown {
    margin-right: 15px
}

#small-nav .social-buttons {
    vertical-align: text-top;
    display: inline-block
}

.docs .body-footer {
    border-top: 1px solid #e8e8e8;
    margin-top: 30px;
    padding-top: 10px;
    font-size: 14px;
    color: #707070
}

.docs .feedback .widget {
    background-color: #E1F1FF;
    padding: 20px;
    font-size: 1.3rem;
    margin-top: 40px
}

.docs .feedback h3 {
    font-weight: 600;
    font-size: 1.6rem;
    padding-top: 0;
    margin-top: 0;
    display: inline-block;
    width: 80%
}

.docs .feedback .charCount {
    display: inline-block;
    width: 20%;
    font-size: 1.6rem;
    text-align: right
}

.docs .feedback .buttons h3:first-child {
    margin-bottom: 20px
}

.docs .feedback .buttons button {
    background-color: #0066B8;
    color: white;
    border-style: solid;
    border-width: 1px;
    border-color: white;
    font-size: 1.4rem;
    padding: 5px 20px;
    margin-right: 5px
}

.docs .feedback .buttons button:hover {
    background-color: #005ba4
}

.docs .feedback .buttons button:disabled {
    opacity: 0.3
}

.docs .feedback .progress-spinner {
    display: inline;
    margin-left: 2px
}

.docs .feedback .progress-spinner span {
    height: 8px;
    width: 8px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -o-border-radius: 100%;
    border-radius: 100%;
    margin: 0 1px;
    display: inline-block;
    opacity: 0.5;
    background-color: #0072be;
    -webkit-animation: 1s pulse infinite;
    animation: 1s pulse infinite
}

.docs .feedback .progress-spinner span:nth-of-type(1) {
    -webkit-animation-delay: 0.33333s;
    animation-delay: 0.33333s
}

.docs .feedback .progress-spinner span:nth-of-type(2) {
    -webkit-animation-delay: 0.6666s;
    animation-delay: 0.6666s
}

.docs .feedback .progress-spinner span:nth-of-type(3) {
    -webkit-animation-delay: 0.9999s;
    animation-delay: 0.9999s
}

.docs .hero-videos {
    margin-top: 10px;
    margin-bottom: 20px
}

.docs .hero-videos .video .screen {
    height: 200px;
    width: 100%;
    background: url("/assets/images/hero-video-frame.png") left top no-repeat;
    background-size: cover;
    position: relative
}

.docs .hero-videos .video .screen .video-btn {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-size: 100px
}

.docs .hero-videos .video .screen .video-btn:focus {
    opacity: 1
}

.docs .next-level.header {
    margin-bottom: 10px
}

.docs p {
    margin-bottom: 20px;
}

.docs .section {
    padding: 5px 15px;
    background-color: #f3f3f3;
    height: 160px;
    margin-bottom: 25px
}

.docs .section h3 {
    color: #373277;
    font-weight: bold
}

.docs a.type-ref {
    cursor: pointer
}

.docs a.type-instrinct {
    text-decoration: none
}

.docs a.type-instrinct:hover {
    text-decoration: none
}

.docs ol li {
    margin-bottom: 8px;
}

.docs p span.ts {
    display: block;
    padding: 15px;
    font-weight: 600;
    position: relative;
    margin-left: 10px;
    cursor: pointer
}

.docs p span.ts::before {
    -ms-high-contrast-adjust: none;
    border-width: 5.6px 5.6px 5.6px 7px;
    top: 25px;
    left: -15px;
    border-color: transparent transparent transparent #a6a6a6;
    border-left-color: #d4d4d4;
    position: absolute;
    display: block;
    content: '';
    width: 0;
    height: 0;
    border-style: solid
}

@media screen and (-ms-high-contrast: active) {
    .docs p span.ts::before {
        border-color: transparent transparent transparent #fff;
        border-left-color: #fff
    }
}

.docs p span.ts[aria-expanded='true'] {
    background-color: rgba(55, 50, 119, 0.12);
    border-radius: 10px 10px 0 0
}

.docs p span.ts[aria-expanded='true']::before {
    border-color: transparent #646465 transparent transparent;
    border-width: 8.4px 8.4px 0 7px;
    left: -21px
}

@media screen and (-ms-high-contrast: active) {
    .docs p span.ts[aria-expanded='true']::before {
        border-color: transparent #fff transparent transparent
    }
}

.docs p span.ts[aria-expanded='true']:hover {
    background-color: rgba(55, 50, 119, 0.12);
    border-radius: 10px 10px 0 0
}

.docs p span.ts[aria-expanded='true']:hover a {
    color: #373277
}

.docs p span.ts:hover {
    border-radius: 10px;
    color: #48419b;
    background-color: rgba(55, 50, 119, 0.05)
}

.docs p span.ts:hover a {
    color: #373277
}

.docs .details {
    padding: 15px 15px 5px;
    border-radius: 0px 0px 10px 10px;
    margin-bottom: 20px;
    background-color: rgba(55, 50, 119, 0.05);
    margin-left: 10px;
    margin-top: -10px
}

@media (min-width: 600px) {
    .docs .feedback {
        width: 75%
    }
    .docs .hero-videos .video .screen {
        height: 250px
    }
}

@media (max-width: 992px) {
    .docs-navbar-container {
        height: auto;
        position: relative;
        margin-bottom: 20px
    }
}

@media (min-width: 768px) {
    #docs-navbar, nav[data-toggle=toc] {
        font-size: 12px;
        width: 175px;
        margin-left: -15px
    }
    #small-nav .social-buttons {
        display: none
    }
    .edit-github a .btn {
        max-width: 70px;
        height: 44px;
        margin-right: 15px;
        margin-top: 20px
    }
    .edit-github a .btn img {
        display: inline-block;
        width: 20px
    }
    .docs {
        font-size: 16px
    }
    .docs .feedback {
        width: 75%
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    nav[data-toggle=toc].affix {
        position: fixed;
        top: 70px
    }
}

@media (min-width: 992px) {
    nav[data-toggle=toc].affix {
        position: fixed;
        top: 70px
    }
    .docs h1 {
        margin-top: 0
    }
    .docs .hero-videos, .docs .next-level {
        text-align: center
    }
}

@media (min-width: 1200px) {
    .docs .section {
        height: 225px
    }
}

.breadcrumb-item {
    font-size: 12px;
    margin-bottom: 0 !important;
}

.botbot {
    position: fixed;
    bottom: 2em;
    right: 7em;
}

.breadcrumb{
    padding: 0 !important;
}

.text-danger small{
    border-radius: 3px;
    background: rgba(255,0,0, 0.05);
    padding: 4px 12px;
    font-size: 11px;
    font-weight: 600;
}