###############
#    folder   #
###############
/**/DROP/
/**/TEMP/
/**/packages/
/**/bin/
/**/obj/
_site
_site_pdf
.vscode/docfx-assistant/topic-cache.json
/_template/assets/
node_modules
/Gaea-Docs/.vs
.vs
source/hash.bin
.vs/Gaea-Docs/config/applicationhost.config
.vs/Gaea-Docs/DesignTimeBuild/.dtbcache.v2
.vs/Gaea-Docs/v16/.suo
.vs/Supercharger/_/DTabsHistory.dat
.vs/Supercharger/AngryMonkey/codemap.dat
.vs/Supercharger/AngryMonkey/global_history.dat
source/hash.bin
/_ReSharper.Caches/ReSharperPlatformVs16211_cba82ce4.Gaea-Docs.00
/.idea
