###############
#    folder   #
###############
/**/DROP/
/**/TEMP/
/**/packages/
/**/bin/
/**/obj/
_site
_site_pdf
.vscode/docfx-assistant/topic-cache.json
/_template/assets/
node_modules
/Gaea-Docs/.vs
