@import url("https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap");
//@import "_bootstrap-toc.scss";

::-moz-selection {
  /* Code for Firefox */
  color: black;
  background: rgb(247, 247, 165);
}

::selection {
  color: black;
  background: rgb(247, 247, 165);
}

::-moz-focus-inner {
  border: 0;
}
:focus {
  outline: none;
}

.img-fluid {
  max-width: 75% !important;
}

.TIP,
.WARNING,
.NOTE {
  font-size: 12px;
  border-width: 1px;
  border-style: solid;
  padding: 12px;
  border-radius: 3px;
  max-width: 100%;
  font-weight: 600;
  border-left-width: 6px;

  p {
    margin-bottom: 0;
    line-height: normal;
  }

  p:first-child:before {
    display: block;
    font-weight: bold;
  }
}

p.title {
  font-size: 3rem;
}

.TIP {
  border-color: rgba(200, 225, 238, 0.33);
  background-color: #ddf7ff68;

  p:first-child:before {
    content: "TIP";
  }
}

.NOTE {
  border-color: rgba(200, 238, 233, 0.33);
  background-color: #ddfffb68;

  p:first-child:before {
    content: "TIP";
  }
}

.WARNING {
  border-color: rgba(236, 189, 113, 0.33);
  background-color: #fff7e486;

  p:first-child:before {
    content: "WARNING";
  }
}

.textcontent {
  a {
    font-weight: 600;
  }
}

.examples {
  ul {
    padding-left: 0;
    li {
      list-style: none;
    }
  }
}

.sidenav-item {
  font-size: 12px;
  font-weight: 600;
}

.card-header {
  i {
    position: relative;
    top: 3px;
  }
  ol {
    margin-bottom: 0 !important;
  }
}

.card {
  font-family: "Assistant";
}

.sidenav-item > .sidenav-link::before {
  text-transform: none;
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  font-family: "Ionicons";
  line-height: 1;
  margin-right: 8px;
  font-size: 16px;
  color: #f0f0f0;
}

// .guide > .sidenav-item:nth-child(1) > .sidenav-link::before {
//   content: "";
// }
// .guide > .sidenav-item:nth-child(2) > .sidenav-link::before {
//   content: "";
// }
// .guide > .sidenav-item:nth-child(8) > .sidenav-link::before {
//   content: "";
// }
// .reference > .sidenav-item:nth-child(10) > .sidenav-link::before {
//   content: "";
// }
// .sidenav-item.open > .sidenav-menu {
//   box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
// }

.breadcrumb {
  background: none !important;
  font-size: 12px;
  font-weight: 700;
}

.sidenav-toggle {
  padding-right: 0;
}

.params {
  ul {
    li {
      list-style: none;
      margin-bottom: 8px;
    }
  }

  td:nth-child(1) {
    width: 20% !important;
    max-width: 20% !important;
  }
}

.tutorial {
  margin-top: 24px;

  .card {
    margin-bottom: 24px;
  }

  .checklist {
    display: inline-block;
    background: #f0f0f0;
    border: 1px solid #e0e0e0;
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    margin: 0;
    margin-bottom: 24px;

    li {
      display: inline-block;
      margin-right: 16px;

      .property {
        min-width: 36px;
        margin-right: 6px;
      }

      code {
        position: relative;
        top: -1px;
      }
    }
  }
}

// p {
//   margin-left: 2.5%;
// }

th {
  font-weight: 700 !important;
  text-transform: uppercase;
  font-size: 10px;
  opacity: 0.5;
}

.medium-zoom-overlay {
  z-index: 5;
}

.medium-zoom-image--opened {
  z-index: 8;
}

.sidenav-vertical .sidenav-menu .sidenav-link {
  padding: 0.2rem;
  padding-left: 2rem !important;
}

.sidenav-vertical,
.sidenav-vertical .sidenav-block,
.sidenav-vertical .sidenav-inner > .sidenav-item,
.sidenav-vertical .sidenav-inner > .sidenav-header {
  width: 12rem;
}

.sidenav-vertical .sidenav-item .sidenav-link,
.sidenav-vertical .sidenav-header,
.sidenav-vertical .sidenav-block {
  padding: 0.3rem 1rem;
}

figure {
  margin-top: 1rem;
  margin-bottom: 1rem;
  p {
    margin: 0;
    padding: 0;
  }

  figcaption {
    margin: 0;
    padding: 0.3rem;
    padding-left: 1rem;
    margin-bottom: 0.5rem;
    font-weight: 600;
  }
}

html.layout-expanded {
  .sidenav-vertical {
    top: 5.5rem !important;
  }
}

.navbar-nav .nav-item,
.navbar-nav .nav-link {
  display: inline-block !important;
  padding-right: 1rem;
  font-size: 12px;
  font-weight: bold;
  padding-top: 0.8rem;
}

.table {
  font-size: 13px;
}

code:not(.hljs), pre:not(code .hljs) {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  padding: 2px 4px;
  font-size: 90%;
  color: #0072be;
  background-color: #f4f2f9;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}


pre, code{
  border: 0 !important;
}