::-moz-selection {
  /* Code for Firefox */
  color: black;
  background: #ffe308; }

::selection {
  color: black;
  background: #ffe308; }

::-moz-focus-inner {
  border: 0; }

:focus {
  outline: none; }

.TIP,
.WARNING,
.NOTE {
  font-size: 12px;
  border-width: 1px;
  border-style: solid;
  padding: 12px;
  border-radius: 3px;
  max-width: 100%;
  font-weight: 600;
  border-left-width: 6px; }
  .TIP p,
  .WARNING p,
  .NOTE p {
    margin-bottom: 0;
    line-height: normal; }
  .TIP p:first-child:before,
  .WARNING p:first-child:before,
  .NOTE p:first-child:before {
    display: block;
    font-weight: bold; }

p.title {
  font-size: 3rem; }

.TIP {
  border-color: rgba(85, 68, 94, 0.459);
  background-color: rgba(121, 90, 138, 0.14); }
  .TIP p:first-child:before {
    content: "TIP"; }

.NOTE {
  border-color: rgba(135, 211, 201, 0.705);
  background-color: rgba(221, 255, 251, 0.41); }
  .NOTE p:first-child:before {
    content: "NOTE"; }

.WARNING {
  border-color: rgba(236, 189, 113, 0.33);
  background-color: rgba(255, 247, 228, 0.54); }
  .WARNING p:first-child:before {
    content: "WARNING"; }

.textcontent a {
  font-weight: 600; }

.examples ul {
  padding-left: 0; }
  .examples ul li {
    list-style: none; }

.sidenav-item {
  font-size: 12px;
  font-weight: 600; }

.card-header i {
  position: relative;
  top: 3px; }

.card-header ol {
  margin-bottom: 0 !important; }

.card {
  font-family: "Assistant"; }

.sidenav-item > .sidenav-link::before {
  text-transform: none;
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  font-family: "Ionicons";
  line-height: 1;
  margin-right: 8px;
  font-size: 16px;
  color: #f0f0f0; }

.breadcrumb {
  background: none !important;
  font-size: 12px;
  font-weight: 700; }

.sidenav-toggle {
  padding-right: 0; }

.params ul li {
  list-style: none;
  margin-bottom: 8px; }

.params td:nth-child(1) {
  width: 20% !important;
  max-width: 20% !important; }

.tutorial {
  margin-top: 24px; }
  .tutorial .card {
    margin-bottom: 24px; }
  .tutorial .checklist {
    display: inline-block;
    background: #f0f0f0;
    border: 1px solid #e0e0e0;
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    margin: 0;
    margin-bottom: 24px; }
    .tutorial .checklist li {
      display: inline-block;
      margin-right: 16px; }
      .tutorial .checklist li .property {
        min-width: 36px;
        margin-right: 6px; }
      .tutorial .checklist li code {
        position: relative;
        top: -1px; }

th {
  font-weight: 700 !important;
  text-transform: uppercase;
  font-size: 10px;
  opacity: 0.5; }

.medium-zoom-overlay {
  z-index: 5; }

.medium-zoom-image--opened {
  z-index: 8; }

.sidenav-vertical .sidenav-menu .sidenav-link {
  padding: 0.2rem;
  padding-left: 2rem !important; }

.sidenav-vertical,
.sidenav-vertical .sidenav-block,
.sidenav-vertical .sidenav-inner > .sidenav-item,
.sidenav-vertical .sidenav-inner > .sidenav-header {
  width: 12rem; }

.sidenav-vertical .sidenav-item .sidenav-link,
.sidenav-vertical .sidenav-header,
.sidenav-vertical .sidenav-block {
  padding: 0.3rem 1rem; }

figure {
  margin-top: 1rem;
  margin-bottom: 1rem; }
  figure p {
    margin: 0 !important;
    padding: 0 !important; }
  figure figcaption {
    font-size: 13px;
    margin: 0;
    padding: 0.3rem;
    padding-left: 1rem;
    margin-bottom: 1.5rem;
    font-weight: 600; }

html.layout-expanded .sidenav-vertical {
  top: 5.5rem !important; }

.navbar-nav .nav-item,
.navbar-nav .nav-link {
  display: inline-block !important;
  padding-right: 1rem;
  font-size: 12px;
  font-weight: bold;
  padding-top: 0.8rem; }

pre,
code,
kbd {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  padding: 1px 6px;
  padding-bottom: 2px;
  font-size: 90%;
  color: #fff;
  background-color: #f4f2f9;
  border: 0;
  border-radius: 3px;
  background: linear-gradient(#0072be, #00406a);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.22), 0 5px 35px rgba(0, 0, 0, 0.1); }

.val {
  background: linear-gradient(#9800be, #6b0085);
  color: #fff; }

.docs .w-100 {
  width: 100% !important;
  max-width: 100% !important; }

.docs .w-75 {
  width: 75% !important;
  max-width: 75% !important; }

.docs .w-50 {
  width: 50% !important;
  max-width: 50% !important; }

.docs .w-25 {
  width: 25% !important;
  max-width: 25% !important; }

.cmd {
  border-radius: 1px 1px 6px 1px;
  padding: 2px 6px;
  font-size: 90%;
  font-weight: 400;
  background: #333;
  color: #fdf6b4; }

.medium-zoom-image {
  border: 2px solid transparent;
  transition: all linear 0.2s !important;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.33); }
  .medium-zoom-image:hover {
    border: 2px solid #0072be;
    transform: translateY(-10px);
    transition: all linear 0.2s !important;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.267), 0 40px 25px rgba(0, 0, 0, 0.15); }

.shortcuts .table {
  width: 75% !important; }

pre code {
  background: none !important; }

.embed-responsive {
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.267), 0 40px 25px rgba(0, 0, 0, 0.15);
  margin-bottom: 24px; }

.params td em {
  display: block !important;
  clear: both;
  font-style: normal;
  font-weight: 600;
  text-emphasis: none; }

#results {
  width: 60vw;
  max-width: 60vw; }
  #results small {
    background: #f0f0f0;
    border-radius: 3px;
    padding: 2px 6px;
    margin-bottom: 6px; }
  #results li {
    border: 1px solid #e0e0e0;
    background-color: #f5f9fa50;
    padding: 8px 16px;
    border-radius: 4px;
    list-style: none !important;
    margin-bottom: 32px; }

#search-field {
  vertical-align: middle;
  padding: 3px 12px;
  border-radius: 0;
  margin-right: 32px;
  margin-top: 13px;
  font-size: 12px;
  font-weight: bold;
  background-color: #444449;
  color: #fff;
  border: 1px solid #565659; }

#nav-download {
  border-radius: 24px;
  background: #0072be;
  margin-top: 11px;
  padding: 3px 16px;
  transition: linear background-color 0.2s; }
  #nav-download:hover {
    background: #2d92d5;
    transition: linear background-color 0.2s; }

.navbar-nav li a {
  padding-top: 14px; }

.force-left {
  float: left !important;
  margin-right: 5%; }

.force-30 {
  width: 30% !important;
  max-width: 30% !important; }

.force-clear {
  clear: both; }

.home img {
  border: 0 !important;
  box-shadow: none !important;
  cursor: pointer;
  margin-right: 8px;
  padding-top: 36px;
  padding-bottom: 24px; }

.home h2 {
  margin-top: 0px !important;
  padding-top: 0px !important; }

.params td:nth-child(1) {
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase; }

.params td:nth-child(2) em {
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase; }

.d-none {
  display: none;
  transition: all linear 0.3s;
  opacity: 0; }

.d-block {
  display: block;
  transition: all linear 0.3s;
  opacity: 1; }

#quicksearch {
  transition: all linear 0.3s;
  position: absolute;
  top: 42px;
  left: 0;
  min-width: 400px;
  max-width: 380px;
  max-height: 600px;
  overflow-y: auto;
  z-index: 9999999;
  border: 1px solid #888;
  background: #fff;
  padding: 16px; }
  #quicksearch .instruction {
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase; }
  #quicksearch li {
    padding: 0;
    margin: 0;
    margin-bottom: 6px;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase; }

.video-holder {
  margin: 0 !important;
  padding: 0 !important; }
  .video-holder video {
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.267), 0 40px 25px rgba(0, 0, 0, 0.15);
    border: 2px solid transparent;
    transition: all linear 0.2s !important; }
    .video-holder video:hover {
      border: 2px solid #0072be;
      transition: all linear 0.2s !important; }

.monkey-holder {
  margin: 0;
  padding: 0; }
  .monkey-holder .tiny-monkey {
    height: 28px;
    width: auto;
    position: relative;
    top: -1px; }

footer {
  height: auto;
  min-height: 90px; }

.wip small {
  border: 1px solid rgba(168, 68, 66, 0.25) !important; }

.botbot {
  z-index: 5000; }
