.TIP {
  border-color: rgba(200, 225, 238, 0.33);
  background-color: #0d161968;
}

.WARNING {
  border-color: rgba(236, 189, 113, 0.33);
  background-color: #2a200686;
}

code {
  background-color: #333;
  padding: 3px 6px;
  border-radius: 3px;
  color: #ffcc00;
}

body,
.bg-footer-theme {
  background-color: #282b31 !important;
  color: #e0e0e0 !important;
}

.bg-navbar-theme {
  background-color: #141517 !important;
  color: #e0e0e0 !important;

  .navbar-nav .active > .nav-link {
    color: #fff !important;
  }
}

.table{
  color: #e0e0e0 !important;
}

h1,
h2,
h3,
h4 {
  color: #fff;
}

a {
  color: #51aeff;
}

.card,
.tab-content,
.nav-tabs .nav-link.active {
  background-color: #383c44c4 !important;
}

.navbar-brand {
  color: #fff !important;
}

.breadcrumb-item:hover {
  color: #a3a4a6 !important;
}

.breadcrumb-item.active {
  color: #fff;

  &:hover {
    color: #fff !important;
  }
}

.nav-tabs .nav-link.active {
  border-color: #383c44 !important;
  color: #fff;
  position: relative;
  left: 1px;

  a {
    color: #eee;
  }
}

.card-header {
  background-color: #14151728 !important;
}

h1,h2{
  color: #dde0e0;
  border-bottom: 1px solid #6a6e78;
}

h3{
  border-bottom: 0;
}