.properties-table {
    tr td:first-child {
        vertical-align: top;
        font-weight: bold;
        text-align: right;
        border-right: 1px solid #f4f4f4;
        min-width: 15vw;
        max-width: 33vw;
        text-transform: capitalize;
    }

    tr td:nth-child(2) {
        width: 100%;
    }

    span {
        display: block;
    }

    .choice {
        padding-top: 0.3em;
        font-weight: bold;
    }

    .choice-description {
        padding-bottom: 0.3em;
    }

    td.title {
        background-color: #f8f8f8 !important;
        vertical-align: middle;
        text-align: left !important;
        text-transform: uppercase !important;
        font-size: smaller;
        letter-spacing: 1px;
    }
}

.hive i {
    margin-right: 8px;
}

video {
    width: 80%;
    max-width: 80%;
    height: auto;
}

.x2 {
    font-size: 16px;
}

.x3 {
    font-size: 18px;
}

.x4 {
    font-size: 24px;
}

.x4 {
    font-size: 36px;
}

.example .message {
    max-width: 700px;
}

dl {
    dt {
        font-weight: bold;
        margin-top: 1rem;
    }

    dd {
        margin-top: 0.35rem;
        margin-left: 0;
    }
}

.article img {
    border: 1px solid #cbcbcb;
    padding: 2px;
}

td code {
    background-color: #ecfffb;
    border: 1px solid #cbe7e1;
}

figure {
    margin: 0.5rem 0 1rem;

    figcaption {
        font-size: 12px;
        font-weight: 600;
        padding: 6px 3px;
        opacity: 0.6;
        /*border-bottom: 1px solid #cfcfcf;*/
    }
}

.val {
    background-color: #e8e7ea;
    border: 0;
    padding-left: 0.3em;
    padding-right: 0.3em;
}

p code {
    background-color: #e3e7e9;
    border: 0;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.medium-zoom-overlay {
    z-index: 50000;
}

.medium-zoom-image--opened {
    z-index: 50001;
    border: 2px solid #1b1c1d !important;
}

pre code {
    width: 100%;
    font-family: "Cascadia Code", Consolas, 'Courier New', monospace;
    font-weight: normal;
    font-size: 12px;
    padding: 0.5rem 1.2rem;
    background-color: #dde4e7;
    border: 1px solid #606267;
}

#related {
    margin-top: 5rem;
}

.ui.inverted.vertical.menu .item .menu .active.item {
    color: #ffcc00 !important;
}

.hidden {
    opacity: 0 !important;
    font-size: 0.00001px !important;
}

body[data-hivehref="Reference"] {
    .sticky > h4:nth-child(1) {
        display: none !important;
    }
}

code {
    padding: 0 3px;
}

.main li {
    font-size: 16px;
    line-height: 24px;
}

.no-border {
    border: 0 !important;
}

#main-nav {
    border: 0;
    /*    .hive:first-child {
        margin-top: 2em !important;
    }*/

    .top {
        color: #ffd9b2 !important;
        text-transform: uppercase;
    }

    .hive {
        color: #f8f0d2;
        padding: 1.5em 2em !important;
    }

    .item {
        padding: .5em 1em;

        &.active {
            background: #2d2e2f !important;
            border: 1px solid #4d5053;
            border-top: 0;
            border-left: 0;
        }

        .accordion {
            padding-left: 1em !important;

            .title {
                color: #dfdfdf !important;
                font-size: 13px;
                font-weight: bold;
                transition: all linear 0.2s;

                &:hover {
                    color: #d5bf69 !important;
                    transition: all linear 0.2s;
                }

                .icon {
                    font-size: 11px;
                }
            }

            .subitem {
                display: block;
                padding-bottom: 1em !important;
                padding-left: 1.8em;
                font-size: 12px;
                color: #d4d4d4 !important;
                transition: all linear 0.2s;

                &:hover {
                    color: #d5bf69 !important;
                    transition: all linear 0.2s;
                }

                &.active {
                    color: #ffcc00 !important;
                    font-weight: bold;
                }
            }
        }
    }

    .active.item:first-child {
        border-radius: 0;
        margin-top: 7em;
    }
}

img.box {
    margin: 35px;
    width: 180px;
    height: auto;
}

.inverted.masthead {
    background: #2d2e2f !important;
}

.ui.secondary.inverted.pointing.menu {
    .red {
        color: #ffcc00 !important;
        transition: all linear 0.2s;

        &:hover {
            color: #f0f0f0 !important;
            border-color: rgba(251, 86, 33, 0.8);
            transition: all linear 0.2s;
        }
    }
}

.introduction {
    h1.header {
        font-weight: 100 !important;

        .silent {
            font-weight: 400 !important;
            letter-spacing: 0;
            font-size: 14px;
        }
    }
}

.silent {
    opacity: 0.4 !important;
}


.next-link {
    float: right;
}


h4 {
    padding-bottom: 1em !important;
}


#modalimage {
    margin: auto;
    height: 45vh !important;
    width: auto !important;
    margin-bottom: 16px;
}



td .header {
    padding: 4px 0 0 0 !important;
}
