.properties-table {

    tr td:first-child {
        vertical-align: top;
        font-weight: bold;
        text-align: right;
        border-right: 1px solid #f4f4f4;
    }

    span {
        display: block;
    }

    .choice {
        padding-top: 0.3em;
        font-weight: bold;
    }

    .choice-description {
        padding-bottom: 0.3em;
    }

    td.title {
        background-color: #f8f8f8 !important;
        vertical-align: middle;
        text-align: left !important;
        text-transform: uppercase !important;
        font-size: smaller;
        letter-spacing: 1px;
    }
}


video {
    width: 80%;
    max-width: 80%;
    height: auto;
}
