.properties-table tr td:first-child {
  vertical-align: top;
  font-weight: bold;
  text-align: right;
  border-right: 1px solid #f4f4f4; }

.properties-table span {
  display: block; }

.properties-table .choice {
  padding-top: 0.3em;
  font-weight: bold; }

.properties-table .choice-description {
  padding-bottom: 0.3em; }

.properties-table td.title {
  background-color: #f8f8f8 !important;
  vertical-align: middle;
  text-align: left !important;
  text-transform: uppercase !important;
  font-size: smaller;
  letter-spacing: 1px; }

.hive i {
  margin-right: 8px; }

video {
  width: 80%;
  max-width: 80%;
  height: auto; }

.x2 {
  font-size: 16px; }

.x3 {
  font-size: 18px; }

.x4 {
  font-size: 24px; }

.x4 {
  font-size: 36px; }

.example .message {
  max-width: 700px; }

dl dt {
  font-weight: bold;
  margin-top: 1rem; }

dl dd {
  margin-top: 0.35rem;
  margin-left: 0; }

.article img {
  border: 1px solid #cbcbcb !important;
  padding: 2px; }

td code {
  background-color: #ecfffb;
  border: 1px solid #cbe7e1; }
